{% extends 'JmoatiGitoliteFrontBundle::base.html.twig' %}

{% block content %}
    <form action="{{ path('jmoati_gitolite_front_key_delete', {key: key.id}) }}"
          method="post" {{ form_enctype(form) }}>
        <legend>{% trans %}key.delete.title{% endtrans %}</legend>
        <p>{% trans %}key.confirm.delete{% endtrans %}</p>

        <p>
            <a class="btn btn-default" href="{{ path('jmoati_gitolite_front_key_index') }}">{% trans %}action.cancel{% endtrans %}</a>
            <button type="submit" class="btn btn-danger">{% trans %}action.delete{% endtrans %}</button>
        </p>
    </form>

{% endblock %}
